/* ============================= */
//  Fonts
/* ============================= */

$poppins: "Poppins";

/* ============================= */
//  COLORS
/* ============================= */
$white: #f3f3f3;
$black: #181818;

/* ============================= */
//  BREAKPOINTS
/* ============================= */
$breakpoint-huge: 70rem;
$breakpoint-large: 64rem;
$breakpoint-medium: 50rem;
$breakpoint-small: 37.5rem;
$breakpoint-tiny: 30rem;

/* ============================= */
//  BORDER
/* ============================= */
$border-radius: 0.5rem;
