* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::before,
*::after {
    box-sizing: border-box;
}

html {
    overflow: hidden;
    height: 100vh;
}

body {
    position: relative;
    overflow: hidden;
    max-width: 100vw;
    height: 100vh;
    background: $white;
    color: $black;
}

button {
    all: unset;
    display: block;
}

input,
textarea {
    border: none;
    outline: none;
    font-family: inherit;
}

ul {
    list-style: none;
}

a {
    display: block;
    color: inherit;
    text-decoration: inherit;
}
